html,
body {
  padding: auto;
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
 }

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/Birds.jpg');
  background-size: cover;
  filter: blur(5px);
  z-index: -1; /* make sure it's behind other content */
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}