/* Default styles for all screen sizes */
.container {
  display: flex;
  justify-content: space-evenly
}

.container > div {
  padding: 10px;
}

.grid {
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  max-width: 700px;
  max-height: 700px;
  margin-left: auto;
  margin-right: auto;
}

.image {  
  max-width: 100%;
  max-height: 100%
}

.drone {
  transition: all 2s ease-out;
  text-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  }

.page-title {
   font-weight: bold;
    font-size: 2em;
    line-height: 1.5;
    text-align: center;
    padding: 30px;
    background-color: #081a00bd;
    color: white;
    
}

.page-content {
  font-size: 1em;
  line-height: 1.5;
  text-align: center;
  padding: 30px;
  margin-left: 20vw;
  margin-right: 20vw;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  justify-content: center;
  border-radius: 80px;
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

.fade-out {
  animation: fadeOut 1s ease-in-out;
}

.description {
  text-align: center;
  font-size: 1.1em;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
  margin: 1em 0;
  background-color: #000000d0;
  padding: 0.5em;
  border-radius: 8px;
}

.info {
  text-align: center;
  font-size: 1em;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
  margin: auto;
  margin-bottom: 10px;
  background-color: #081a00bd;
  padding: 1px;
  border-radius: 8px;
}

.titles {
  text-align: center;
  font-size: 1.2em;
  color: rgb(255, 255, 255);
  margin: 2em 0;
  font-weight: bold;
  background-color: #081a00bd;
  padding: 0.5em;
  border-radius: 8px;
}

.header {
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: #081a00bd;
  font-size: 1em;
  color: rgb(255, 255, 255);
}

.name img{
  max-height: 5vh;
  width: 100%;
}

.slide-in-left {
  animation: slideInFromLeft 0.6s ease-in-out;
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

.slide-in-right {
  animation: slideInFromRight 0.6s ease-in-out;
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}



/* Media query for screens smaller than 800px */
@media (max-width: 800px) {
  .container {
    flex-direction: column;
    /* stack the divs vertically */
  }

  .container>div {
    width: 100%;
    /* take up the full width of the screen */
    height: auto;
    /* adjust the height automatically */
  }

  .description {
    font-size: 1em;
  }

  .page-title {
    font-size: 1.5em;
}

.page-content {
  font-size: 1.1em;
  margin-left: 10%;
  margin-right: 10%
}
}